.banner {
  background-color: transparent;
  padding: 2rem;
  text-align: center;
}

.banner img {
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.banner input {
  width: 50%;
}

.banner button {
  margin-left: 0.5rem;
}
